<!DOCTYPE html>
<html lang="ja">
<head>
    <% var title = "about me | Akira HIRATA" %>
    <% include _head %>
</head>
<body>

    <div class="wrap">

        <!-- header-->
        <header>
            <h1><a href="./">Akira HIRATA</a></h1>
            <nav><ul>
                <li><a href="./">WORKS</a></li>
                <li><a class="current" href="./about.html">ABOUT</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul></nav>
        </header>

        <!-- Content-->
        <div class="white-box-2">
            <div id="fade" class="about">
                <h2>WELCOME</h2><img src="./images/hirata.svg" alt="hirata">
                <p>平田 章と申します。このサイトは僕のポートフォリオです( Source: <a href="https://github.com/psephopaiktes/hirata.works" target="brank_">GitHub</a> )。都内でデザイナーをしています。料理や映画が好きです。新しいモノを作ったり企画したりするのが得意です。<!--<a href="./print.php" target="brank_" style="text-decoration:underline;">印刷用のポートフォリオ</a>も公開しています。--></p>
                <%# <h2>DESIGN</h2>
                <p>デザインとは、<strong>メッセージを伝えるお手伝い</strong>だと考えています。あくまでも課題の解決や目的をかなえるための手段であり、ただ綺麗にしたり自己表現をするためだけのものではありません。情報のウェイトを意識し、導線を考え、整理して、見る人により効率よく理解をすすめる。僕はそれを意識して、デザインを行っています。</p>%>
                <h2>SKILL</h2><img src="./images/skill.svg" alt="skill">
                <p>Webデザインやグラフィックデザイン、フロント開発などを行っています。無駄な情報のない、見やすいデザインが好きです。日々勉強中。</p>
            </div>
        </div>

        <!-- Footer-->
        <footer><a id="gotop" href="#top" title="上へスクロール">▲</a>
            <p><small>© Akira HIRATA 2015 - 2017</small></p>
        </footer>

    </div><!-- /wrap -->

    <!-- SCRIPTS-->
    <script src="scripts/main.min.js"></script>
    <script src="https://use.typekit.net/hrs2dxq.js"></script>
    <script>try{Typekit.load({async:true});}catch(e){}</script>

</body>
</html>
