.content{
  width: 40em;
  max-width: calc(100% - 64px);
  margin: 0 auto;
  p{
    margin-top: 12px;
  }
  a{ color: $COLOR_THEME }
  a:visited{ color: darken($COLOR_THEME, 8%) }
  a:hover{ color: lighten($COLOR_THEME, 4%) }
  a:active{ color: darken($COLOR_THEME, 8%) }
}
